---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% comment %}
<div style="text-align: center; padding: 60px 20px;">
  <h2>Under Construction</h2>
  <p>This page is coming soon. Check back later!</p>
</div>
{% endcomment %}


{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
